/* Spinner.css */
.spinner_overlay {
  position: fixed; /* تغییر به fixed برای پوشش کل صفحه */
  top: 0;
  left: 0;
  width: 100vw; /* پوشش کامل صفحه */
  height: 100vh; /* پوشش کامل صفحه */
  background: rgba(0, 0, 0, 0.7); /* شفافیت پس‌زمینه */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* زدن اولویت بیشتر */
}

.spinner_container {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
